<!DOCTYPE html>
<html lang="fr-FR">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" type="text/css" href="/formulaire.css" media="all"/>
      <title>Formulaire ajout de patient</title>
   </head>
   <body>
      <div class="form-style-5">
         <form action="/PharmaScieSauteuse/Formulaire/Test" method="POST">
            <fieldset id="dynamic">
               <legend><span class="number">1</span> Patient :</legend>
               <input type="text" class="field2" name="nom" placeholder="Nom *">
               <input type="text" class="field2" name="prenom" placeholder="Prénom *">
               <input type="text" class="field2" name="noSS" placeholder="Numéro de carte vitale *">
               <input type="text" class="field2" name="pathologie" placeholder="Pathologie *">
               <input type="text" class="field1" name="traitement" placeholder="Traitement *"><button onclick="newline()">+</button>
               <script>
                  function newline(){
                     document.getElementById('dynamic').innerHTML += "<input type='text' class='field1' placeholder='Traitement *'>"
                  }
               </script>
            </fieldset>
            <fieldset>
               <legend><span class="number">2</span> Médecin</legend>
               <input type="text" class="field2" name="nomMedecin" placeholder="Nom Médecin *">
               <input type="text" class="field2" name="prenomMedecin" placeholder="Prénom Médecin *">
            </fieldset>
            <fieldset>
                <legend><span class="number">3</span> Mutuelle</legend>
                <input type="text" class="field2" name="nomMut" placeholder="Nom Mutuelle">
                <input type="text" class="field2" name="noMut" placeholder="Numéro de Mutuelle">
             </fieldset>
            <input type="submit" value="Envoyer" />
         </form>
      </div>
   </body>
</html>
