      <!-- ================= NAVBAR ================= -->
        <div class="l-navbar" id="nav-bar">
           <nav class="nav">
              <div>
                 <a href="/PharmaScieSauteuse" class="nav_logo"> 
                 <i class='bx bx-heart nav_logo-icon'></i> 
                 <span class="nav_logo-name">Pharmacie Sautheuz</span> 
                 </a>
                 <div class="nav_list"> 
                    <a href="/PharmaScieSauteuse/Gestion-de-Patient" class="nav_link"> 
                    <i class='bx bx-grid-alt nav_icon'></i> 
                    <span class="nav_name">Gestion des patients</span> 
                    </a> 
                    <a href="/PharmaScieSauteuse/Formulaire" class="nav_link"> 
                      <i class='bx bx-user nav_icon'></i> 
                      <span class="nav_name">Ajouter un nouveau patient</span> 
                    </a> 
                     <a href="/PharmaScieSauteuse/Gestion-de-Stock" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> 
                    <span class="nav_name">Gestion des stocks</span> 
                  </a>
                 </div>
              </div>
           </nav>
        </div>
        <!-- ================= FIN NAVBAR ================= -->