/* Auteur : DAVID Louis
Dernière modification : 23/10/2021
Version : 0.5
======        Sommaire :       ====== 
Ligne 10 : Navbar
Ligne 198 : Liste des patients
Ligne 258 : barre de recherche
*/

/* Déclaration de variable : */
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #6c7ae0;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

/* ------------ Navbar ------------ */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");


*,
::before,
::after {
    box-sizing: border-box
}

body {
    position: relative;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    transition: .5s
}

a {
    text-decoration: none
}

.header {
    width: 100%;
    height: var(--header-height);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: var(--white-color);
    z-index: var(--z-fixed);
    transition: .5s
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer
}


.l-navbar {
    position: fixed;
    top: 0;
    left: -30%;
    width: var(--nav-width);
    height: 100vh;
    background-color: var(--first-color);
    padding: .5rem 1rem 0 0;
    transition: .5s;
    z-index: var(--z-fixed)
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden
}

.nav_logo,
.nav_link {
    display: grid;
    grid-template-columns: max-content max-content;
    align-items: center;
    column-gap: 1rem;
    padding: .5rem 0 .5rem 1.5rem
}

.nav_logo {
    margin-bottom: 2rem
}

.nav_logo-icon {
    font-size: 1.25rem;
    color: var(--white-color)
}

.nav_logo-name {
    color: var(--white-color);
    font-weight: 700
}

.nav_link {
    position: relative;
    color: var(--first-color-light);
    margin-bottom: 1.5rem;
    transition: .3s
}

.nav_link:hover {
    color: var(--white-color)
}

.nav_icon {
    font-size: 1.25rem
}

.show {
    left: 0
}

.body-pd {
    padding-left: calc(var(--nav-width) + 1rem)
}

.active {
    color: var(--white-color)
}

.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.height-100 {
    height: 100vh
}

@media screen and (min-width: 768px) {
    body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 0.5rem)
    }

    .header {
        height: calc(var(--header-height) + 1rem);
        padding: 0 2rem 0 calc(var(--nav-width) + 0.5rem)
    }

    .l-navbar {
        left: 0;
        padding: 1rem 1rem 0 0
    }

    .show {
        width: calc(var(--nav-width) + 240px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 250px)
    }
}




/* ------------ Liste des patients ------------ */
.table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0,0,0,.15);

}
.table100 {
    position: relative;
    padding-top: 60px;
}
.table100 {
    background-color: #fff;
}


.table100-head {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 10px;
}
table{
    width: 100%;
}
.table100.ver1 th {
    font-size: 18px;
    color: #fff;
    line-height: 1.4;
    background-color: #6c7ae0;
}
.table100-head th {
    padding-top: 18px;
    padding-bottom: 18px;
}

th, td {
    font-weight: unset;
    padding-right: 10px;
}
th {
    text-align: left;
}
.column1 {
    width: 15%;
    padding-left: 40px;
}
.column2{
    width: 25%;
    padding-left: 40px;
}
.column3{
    width: 20%;
    padding-left: 40px;
}
.column4{
    width: 20%;
    padding-left: 40px;
}


/*  ------------ Barre de recherche ------------ */
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  height: 36px;
  border: 3px solid #6c7ae0;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #6c7ae0;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #6c7ae0;
  background: #6c7ae0;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
.row101{
    background: #e4e3e6;
}
.wrap{
  width: 30%;
  position: absolute;
  top: 50%;
  left: 84%;
  transform: translate(-50%, -50%);
}