.gradient-custom-2 {

    /* Chrome, Safari */
    background: -webkit-linear-gradient(to right, #2bbbe7, #2b71aa, #2316df, #5f04f1);
  
    /* Autre navigateurs */
    background: linear-gradient(to right, #2bbbe7, #2b71aa, #2316df, #5f04f1);
  }
  /* Responsive :*/
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }